{
  "extends" : ["airbnb", "prettier", "react"],
  "env": {
    "browser": true
  },
  "rules": {
    "indent": ["error", 2],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "comma-dangle": ["error", "always-multiline"],
    "react/no-unescaped-entities": "off",
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-one-expression-per-line": "off"
    }
}
