* {
  font-family: sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

$white: #fff;
$grey: #b2b2b2;

$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xl: 48px;

body {
  background-color: $white;
}
